In [1]:
import pandas as pd 
import numpy as np

In [2]:
car_df = pd.read_csv('car_fuel_efficiency.csv')

In [3]:
car_df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [5]:
car_df.shape

(9704, 11)

In [7]:
car_df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [8]:
pd.__version__

'2.3.2'

In [9]:
car_df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [15]:
car_df.groupby('origin')['fuel_efficiency_mpg'].max()

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

In [29]:
car_df['horsepower'].median()

149.0

In [20]:
frequency_series = car_df["horsepower"].value_counts(dropna=False)

In [31]:
frequency_series.head()

horsepower
NaN      708
152.0    142
145.0    141
151.0    134
148.0    130
Name: count, dtype: int64

In [21]:
 mode_value = frequency_series.index[0]

In [22]:
mode_value

nan

In [26]:
car_df_copy = car_df

In [27]:
car_df_copy['horsepower'].fillna(mode_value, inplace=True)

In [28]:
car_df_copy['horsepower'].median()

149.0

In [32]:
asian_cars_df = car_df[car_df['origin'] == 'Asia']

In [33]:
asian_cars_df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

In [34]:
selected_cols_df = asian_cars_df[['vehicle_weight', 'model_year']]

In [35]:
selected_cols_df.head()

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016

In [36]:
X_df = selected_cols_df.head(7)

In [38]:
X = X_df.values

In [41]:
X.shape

(7, 2)

In [42]:
XTX = X.T.dot(X)

In [43]:
XTX

array([[62248334.33150762, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [44]:
 XTX_inv = np.linalg.inv(XTX)

In [45]:
XTX_inv

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [46]:
y_values = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
y = y_values[:X.shape[0]]

In [48]:
y.shape

(7,)

In [49]:
temp_result = XTX_inv.dot(X.T)

In [50]:
w = temp_result.dot(y)

In [51]:
w.shape

(2,)

In [52]:
final_sum = np.sum(w)

In [53]:
final_sum

0.5187709081074016